<div class="p-5">
  <h3>View Movie</h3>
  <br />
  <table class="table table-bordered table-responsive movieTable">
    <thead>
      <tr>
        <th scope="col" class="th-movie">Movie</th>
        <th scope="col">Theater</th>
        <th scope="col">Start Time</th>
        <th scope="col">End Time</th>
        <th scope="col">Screen</th>
        <th scope="col">Ticket Price</th>
        <th scope="col">Hide Show Time</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of data">
        <td>{{ item.movie }}</td>
        <td>{{ item.theater }}</td>
        <td>{{ item.startTime }}</td>
        <td>{{ item.endTime }}</td>
        <td>{{ item.screen }}</td>
        <td>{{ item.ticketPrice }}</td>
        <td>{{ item.hideShowTime }}</td>
        <td class="td-action">
          <i
            class="fa fa-edit"
            tooltip="edit"
            [routerLink]="['/edit-showtime', item.id]"
          ></i>
          <i class="fa fa-trash" (click)="deleteShowTime(item.id)"></i>
        </td>
      </tr>
    </tbody>
  </table>
</div>
