<!-- Navbar -->
<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Navbar brand -->
    <a class="navbar-brand mt-2 mt-lg-0" href="#">
      <h5 class="pt-1">Movie World</h5>
    </a>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/']">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/']">Movie Listing</a>
        </li>
        <li
          ngbDropdown
          class="nav-item"
          *ngIf="IsLoggedIn && authService.isAdmin()"
        >
          <a
            class="nav-link"
            id="navbarDropdownMenuAvatar"
            role="button"
            data-mdb-toggle="dropdown"
            aria-expanded="false"
            ngbDropdownToggle
          >
            Movie
          </a>
          <ul
            ngbDropdownMenu="navbarDropdownMenuAvatar"
            class="dropdown-menu dropdown-menu-end"
          >
            <li>
              <a class="dropdown-item" href="#">Add Movie</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">View Movies</a>
            </li>
          </ul>
        </li>
        <li
          ngbDropdown
          class="nav-item"
          *ngIf="IsLoggedIn && authService.isAdmin()"
        >
          <a
            class="nav-link"
            id="navbarDropdownMenuAvatar"
            role="button"
            data-mdb-toggle="dropdown"
            aria-expanded="false"
            ngbDropdownToggle
          >
            Theater
          </a>
          <ul
            ngbDropdownMenu="navbarDropdownMenuAvatar"
            class="dropdown-menu dropdown-menu-end"
          >
            <li>
              <a class="dropdown-item" href="#">Add Theater</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">Assign Movie</a>
            </li>
          </ul>
        </li>
        <li
          ngbDropdown
          class="nav-item"
          *ngIf="IsLoggedIn && authService.isAdmin()"
        >
          <a
            class="nav-link"
            id="navbarDropdownMenuAvatar"
            role="button"
            data-mdb-toggle="dropdown"
            aria-expanded="false"
            ngbDropdownToggle
          >
            ShowTime
          </a>
          <ul
            ngbDropdownMenu="navbarDropdownMenuAvatar"
            class="dropdown-menu dropdown-menu-end"
          >
            <li>
              <a class="dropdown-item" href="#">Add ShowTime</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">View ShowTime</a>
            </li>
          </ul>
        </li>
        <li
          ngbDropdown
          class="nav-item"
          *ngIf="IsLoggedIn && authService.isAdmin()"
        >
          <a
            class="nav-link"
            id="navbarDropdownMenuAvatar"
            role="button"
            data-mdb-toggle="dropdown"
            aria-expanded="false"
            ngbDropdownToggle
          >
            Users
          </a>
          <ul
            ngbDropdownMenu="navbarDropdownMenuAvatar"
            class="dropdown-menu dropdown-menu-end"
          >
            <li>
              <a class="dropdown-item" href="#">Add User</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">View User</a>
            </li>
          </ul>
        </li>
        <li
          ngbDropdown
          class="nav-item"
          *ngIf="IsLoggedIn && authService.isAdmin()"
        >
          <a
            class="nav-link"
            id="navbarDropdownMenuAvatar"
            role="button"
            data-mdb-toggle="dropdown"
            aria-expanded="false"
            ngbDropdownToggle
          >
            Role
          </a>
          <ul
            ngbDropdownMenu="navbarDropdownMenuAvatar"
            class="dropdown-menu dropdown-menu-end"
          >
            <li>
              <a class="dropdown-item" href="#">Add Role</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">View Role</a>
            </li>
          </ul>
        </li>
        <li ngbDropdown class="nav-item">
          <a
            class="nav-link"
            id="navbarDropdownMenuAvatar"
            role="button"
            data-mdb-toggle="dropdown"
            aria-expanded="false"
            ngbDropdownToggle
          >
            Booking
          </a>
          <ul
            ngbDropdownMenu="navbarDropdownMenuAvatar"
            class="dropdown-menu dropdown-menu-end"
          >
            <li>
              <a class="dropdown-item" href="#">Add Booking</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">View Booking</a>
            </li>
          </ul>
        </li>
        <li
          ngbDropdown
          class="nav-item"
          *ngIf="IsLoggedIn && authService.isAdmin()"
        >
          <a
            class="nav-link"
            id="navbarDropdownMenuAvatar"
            role="button"
            data-mdb-toggle="dropdown"
            aria-expanded="false"
            ngbDropdownToggle
          >
            Reviews
          </a>
          <ul
            ngbDropdownMenu="navbarDropdownMenuAvatar"
            class="dropdown-menu dropdown-menu-end"
          >
            <li>
              <a class="dropdown-item" href="#">Add Reviews</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">View Reviews</a>
            </li>
          </ul>
        </li>
      </ul>
      <!-- Left links -->
    </div>

    <div
      class="collapse navbar-collapse"
      style="float: right; max-width: max-content; padding-right: 15px"
      id="navbarSupportedContent"
      *ngIf="!IsLoggedIn"
    >
      <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" (click)="openLoginModal(LoginTemplate)">Login</a>
        </li>
      </ul>
      <div class="d-flex align-items-center">
        <button
          type="button"
          (click)="openRegisterModal(RegisterTemplate)"
          class="btn btn-primary me-3"
        >
          Sign up for free
        </button>
      </div>
    </div>

    <div ngbDropdown class="dropdown" *ngIf="IsLoggedIn">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li ngbDropdown class="nav-item">
          <a
            class="nav-link"
            id="navbarDropdownMenuAvatar"
            role="button"
            data-mdb-toggle="dropdown"
            aria-expanded="false"
            ngbDropdownToggle
          >
            <span *ngIf="IsLoggedIn && authService.isAdmin()">
              Hi {{ authService.getUserName() }}</span
            >
            <span *ngIf="IsLoggedIn && !authService.isAdmin()">
              Hi {{ authService.getUserName() }}</span
            >
            &nbsp;
            <img
              src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"
              class="rounded-circle"
              height="25"
              alt="Black and White Portrait of a Man"
              loading="lazy"
            />
          </a>
          <ul
            ngbDropdownMenu="navbarDropdownMenuAvatar"
            class="dropdown-menu dropdown-menu-end"
          >
            <li>
              <a class="dropdown-item" href="#">My Profile</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">Change Password</a>
            </li>
            <li>
              <a class="dropdown-item" (click)="onLogout()">Logout</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <!-- Container wrapper -->
</nav>

<!-- Login Modal -->
<ng-template #LoginTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Login</h4>
    <button
      type="button"
      class="btn-close close pull-right"
      aria-label="Close"
      (click)="modalService.closeModal(1)"
    >
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="container">
    <div class="row col-sm-12 content">
      <form (ngSubmit)="onLogin()">
        <div class="user-details">
          <div class="input-box">
            <span class="details">Email</span>
            <input
              type="text"
              [(ngModel)]="loginModel.Email"
              name="Email"
              placeholder="Enter your email"
              required
            />
          </div>
          <div class="input-box">
            <span class="details">Password</span>
            <input
              [(ngModel)]="loginModel.Password"
              type="password"
              name="Password"
              placeholder="Enter your password"
              required
            />
          </div>
        </div>

        <div class="button">
          <input
            [disabled]="isLoginButtonDisabled"
            type="submit"
            value="Login"
          />
        </div>
      </form>
      <div class="login-signup">
        <span class="text"
          >Not a member?
          <a
            class="text signup-link"
            (click)="openRegisterModalWithCloseLoginModal(RegisterTemplate)"
          >
            Signup Now</a
          >
        </span>
      </div>
      <!-- ngNativeValidate -->
    </div>
  </div>

  <!-- <app-login></app-login> -->
</ng-template>

<!-- Register Modal -->
<ng-template #RegisterTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Registration</h4>
    <button
      type="button"
      class="btn-close close pull-right"
      aria-label="Close"
      (click)="modalService.closeModal(2)"
    >
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="content">
      <!-- ngNativeValidate -->
      <form (ngSubmit)="onRegister()">
        <div class="user-details user-register-details">
          <div class="input-box">
            <span class="details">Full Name</span>
            <input
              type="text"
              [(ngModel)]="userRegisterModel.FullName"
              name="FullName"
              placeholder="Enter your name"
              required
            />
          </div>
          <div class="input-box">
            <span class="details">Username</span>
            <input
              type="text"
              [(ngModel)]="userRegisterModel.Username"
              name="Username"
              placeholder="Enter your username"
              required
            />
          </div>
          <div class="input-box">
            <span class="details">Email</span>
            <input
              type="text"
              [(ngModel)]="userRegisterModel.Email"
              name="Email"
              placeholder="Enter your email"
              required
            />
          </div>
          <div class="input-box">
            <span class="details">Phone Number</span>
            <input
              type="text"
              [(ngModel)]="userRegisterModel.Phone"
              name="Phone"
              placeholder="Enter your number"
              required
            />
          </div>
          <div class="input-box">
            <span class="details">Password</span>
            <input
              type="password"
              [(ngModel)]="userRegisterModel.Password"
              name="Password"
              placeholder="Enter your password"
              required
            />
          </div>
          <div class="input-box">
            <span class="details">Confirm Password</span>
            <input
              type="text"
              [(ngModel)]="userRegisterModel.ConfirmPassword"
              name="ConfirmPassword"
              placeholder="Confirm your password"
              required
            />
          </div>
        </div>

        <div class="button">
          <input
            type="submit"
            [disabled]="isRegisterButtonDisabled"
            value="Register"
          />
        </div>
      </form>
      <div class="">
        <span class="text"
          >Already have account?
          <a
            class="text signup-link"
            (click)="openLoginModalWithCloseRegisterModal(LoginTemplate)"
          >
            Login Now</a
          >
        </span>
      </div>
    </div>

    <!-- <app-register></app-register> -->
  </div>
</ng-template>
