#dropdown-menu {
  display: none;
  position: absolute;
  background-color: #fff;
  list-style: none;
  padding: 0;
  border: 1px solid #ccc;
}

#dropdown-menu li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}
