<div class="p-5">
  <h3>Edit Movie</h3>
  <div class="content">
    <!-- ngNativeValidate -->
    <form (ngSubmit)="onUpdate()">
      <div class="user-details">
        <div class="input-box">
          <span class="details">Title</span>
          <input
            type="text"
            [(ngModel)]="movieModel.title"
            name="Title"
            placeholder="Enter your movie title"
          />
        </div>
        <div class="input-box">
          <span class="details">Genre</span>
          <select
            class="form-control"
            name="genre"
            [(ngModel)]="movieModel.genre"
          >
            <option value="">Select Option</option>
            <option value="Action">Action</option>
            <option value="Comedy">Comedy</option>
            <option value="Drama">Drama</option>
            <option value="ScienceFiction">ScienceFiction</option>
            <option value="Fantasy">Fantasy</option>
            <option value="Horror">Horror</option>
            <option value="Mystery">Mystery</option>
            <option value="Romance">Romance</option>
            <option value="Adventure">Adventure</option>
            <option value="Animation">Animation</option>
            <option value="War">War</option>
            <option value="Documentary">Documentary</option>
          </select>
        </div>
        <div class="input-box">
          <span class="details">Description</span>
          <input
            name="description"
            [(ngModel)]="movieModel.description"
            type="text"
            placeholder="Enter your Description"
            required
          />
        </div>
        <div class="input-box">
          <span class="details">Duration</span>
          <input
            type="text"
            name="duration"
            [(ngModel)]="movieModel.duration"
            placeholder="Enter your Duration"
            required
          />
        </div>
        <div class="input-box">
          <span class="details">Director</span>
          <input
            type="text"
            name="director"
            [(ngModel)]="movieModel.director"
            placeholder="Enter your Director"
            required
          />
        </div>
        <div class="input-box">
          <span class="details">Trailer URL</span>
          <input
            type="text"
            name="trailerURL"
            [(ngModel)]="movieModel.trailerURL"
            placeholder="Enter your TrailerURL"
            required
          />
        </div>
        <div class="input-box">
          <span class="details">Release Date</span>
          <input
            type="text"
            placeholder="Select Release Date"
            class="form-control"
            name="releaseDate"
            [bsConfig]="{ dateInputFormat: 'DD-MMM-YYYY' }"
            [(ngModel)]="movieModel.releaseDate"
            bsDatepicker
            [placement]="'top'"
          />
        </div>

        <div class="input-box">
          <span class="details">Movie Image</span>
          <input
            type="file"
            name="imageFile"
            class="custom-file-input"
            [(ngModel)]="movieModel.imageFile"
            (change)="onFileChange($event)"
          />
        </div>
      </div>
      <div class="button max-width">
        <input type="submit" value="Save" />
      </div>
    </form>
  </div>
</div>
