<div class="content">
  <!-- ngNativeValidate -->
  <form>
    <div class="user-details">
      <div class="input-box">
        <span class="details">Full Name</span>
        <input
          type="text"
          name="FullName"
          placeholder="Enter your name"
          required
        />
      </div>
      <div class="input-box">
        <span class="details">Username</span>
        <input
          type="text"
          name="Username"
          placeholder="Enter your username"
          required
        />
      </div>
      <div class="input-box">
        <span class="details">Email</span>
        <input
          type="text"
          name="Email"
          placeholder="Enter your email"
          required
        />
      </div>
      <div class="input-box">
        <span class="details">Phone Number</span>
        <input
          type="text"
          name="Phone"
          placeholder="Enter your number"
          required
        />
      </div>
    </div>

    <div class="button">
      <input type="submit" value="Save" />
    </div>
  </form>
</div>
