<div class="row upcome_2 mt-4">
  <div class="tab-content">
    <div class="tab-pane active" id="home">
      <div class="upcome_2i row">
        <div class="col-md-3">
          <div class="upcome_2i1 clearfix position-relative">
            <div class="upcome_2i1i clearfix">
              <img src="img/4.jpg" class="w-100" alt="abc" />
            </div>
            <div
              class="upcome_2i1i1 clearfix position-absolute top-0 text-center w-100"
            >
              <h6 class="text-uppercase">
                <a class="button_1" href="#">View Trailer</a>
              </h6>
              <h6 class="text-uppercase mb-0">
                <a class="button_2" href="#">View Details</a>
              </h6>
            </div>
          </div>
          <div class="upcome_2i_last bg-white p-3">
            <div class="upcome_2i_lasti row">
              <div class="col-md-9 col-9">
                <div class="upcome_2i_lastil">
                  <h5><a href="#">Eget Nulla</a></h5>
                  <h6 class="text-muted">Drama, Action</h6>
                  <span class="col_red">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                  </span>
                </div>
              </div>
              <div class="col-md-3 p-0 col-3">
                <div class="upcome_2i_lastir pt-3">
                  <span
                    ><a class="col_red rounded" href="#"
                      ><i class="fa fa-shopping-cart"></i></a
                  ></span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="upcome_2i1 clearfix position-relative">
            <div class="upcome_2i1i clearfix">
              <img src="img/5.jpg" class="w-100" alt="abc" />
            </div>
            <div
              class="upcome_2i1i1 clearfix position-absolute top-0 text-center w-100"
            >
              <h6 class="text-uppercase">
                <a class="button_1" href="#">View Trailer</a>
              </h6>
              <h6 class="text-uppercase mb-0">
                <a class="button_2" href="#">View Details</a>
              </h6>
            </div>
          </div>
          <div class="upcome_2i_last bg-white p-3">
            <div class="upcome_2i_lasti row">
              <div class="col-md-9 col-9">
                <div class="upcome_2i_lastil">
                  <h5><a href="#">Semp Porta</a></h5>
                  <h6 class="text-muted">Drama, Action</h6>
                  <span class="col_red">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                  </span>
                </div>
              </div>
              <div class="col-md-3 p-0 col-3">
                <div class="upcome_2i_lastir pt-3">
                  <span
                    ><a class="col_red rounded" href="#"
                      ><i class="fa fa-shopping-cart"></i></a
                  ></span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="upcome_2i1 clearfix position-relative">
            <div class="upcome_2i1i clearfix">
              <img src="img/6.jpg" class="w-100" alt="abc" />
            </div>
            <div
              class="upcome_2i1i1 clearfix position-absolute top-0 text-center w-100"
            >
              <h6 class="text-uppercase">
                <a class="button_1" href="#">View Trailer</a>
              </h6>
              <h6 class="text-uppercase mb-0">
                <a class="button_2" href="#">View Details</a>
              </h6>
            </div>
          </div>
          <div class="upcome_2i_last bg-white p-3">
            <div class="upcome_2i_lasti row">
              <div class="col-md-9 col-9">
                <div class="upcome_2i_lastil">
                  <h5><a href="#">Quis Sem</a></h5>
                  <h6 class="text-muted">Drama, Action</h6>
                  <span class="col_red">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                  </span>
                </div>
              </div>
              <div class="col-md-3 p-0 col-3">
                <div class="upcome_2i_lastir pt-3">
                  <span
                    ><a class="col_red rounded" href="#"
                      ><i class="fa fa-shopping-cart"></i></a
                  ></span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="upcome_2i1 clearfix position-relative">
            <div class="upcome_2i1i clearfix">
              <img src="img/7.jpg" class="w-100" alt="abc" />
            </div>
            <div
              class="upcome_2i1i1 clearfix position-absolute top-0 text-center w-100"
            >
              <h6 class="text-uppercase">
                <a class="button_1" href="#">View Trailer</a>
              </h6>
              <h6 class="text-uppercase mb-0">
                <a class="button_2" href="#">View Details</a>
              </h6>
            </div>
          </div>
          <div class="upcome_2i_last bg-white p-3">
            <div class="upcome_2i_lasti row">
              <div class="col-md-9 col-9">
                <div class="upcome_2i_lastil">
                  <h5><a href="#">Lorem Amet</a></h5>
                  <h6 class="text-muted">Drama, Action</h6>
                  <span class="col_red">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                  </span>
                </div>
              </div>
              <div class="col-md-3 p-0 col-3">
                <div class="upcome_2i_lastir pt-3">
                  <span
                    ><a class="col_red rounded" href="#"
                      ><i class="fa fa-shopping-cart"></i></a
                  ></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="upcome_2i row mt-4">
        <div class="col-md-3">
          <div class="upcome_2i1 clearfix position-relative">
            <div class="upcome_2i1i clearfix">
              <img src="img/8.jpg" class="w-100" alt="abc" />
            </div>
            <div
              class="upcome_2i1i1 clearfix position-absolute top-0 text-center w-100"
            >
              <h6 class="text-uppercase">
                <a class="button_1" href="#">View Trailer</a>
              </h6>
              <h6 class="text-uppercase mb-0">
                <a class="button_2" href="#">View Details</a>
              </h6>
            </div>
          </div>
          <div class="upcome_2i_last bg-white p-3">
            <div class="upcome_2i_lasti row">
              <div class="col-md-9 col-9">
                <div class="upcome_2i_lastil">
                  <h5><a href="#">Eget Nulla</a></h5>
                  <h6 class="text-muted">Drama, Action</h6>
                  <span class="col_red">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                  </span>
                </div>
              </div>
              <div class="col-md-3 p-0 col-3">
                <div class="upcome_2i_lastir pt-3">
                  <span
                    ><a class="col_red rounded" href="#"
                      ><i class="fa fa-shopping-cart"></i></a
                  ></span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="upcome_2i1 clearfix position-relative">
            <div class="upcome_2i1i clearfix">
              <img src="img/9.jpg" class="w-100" alt="abc" />
            </div>
            <div
              class="upcome_2i1i1 clearfix position-absolute top-0 text-center w-100"
            >
              <h6 class="text-uppercase">
                <a class="button_1" href="#">View Trailer</a>
              </h6>
              <h6 class="text-uppercase mb-0">
                <a class="button_2" href="#">View Details</a>
              </h6>
            </div>
          </div>
          <div class="upcome_2i_last bg-white p-3">
            <div class="upcome_2i_lasti row">
              <div class="col-md-9 col-9">
                <div class="upcome_2i_lastil">
                  <h5><a href="#">Semp Porta</a></h5>
                  <h6 class="text-muted">Drama, Action</h6>
                  <span class="col_red">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                  </span>
                </div>
              </div>
              <div class="col-md-3 p-0 col-3">
                <div class="upcome_2i_lastir pt-3">
                  <span
                    ><a class="col_red rounded" href="#"
                      ><i class="fa fa-shopping-cart"></i></a
                  ></span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="upcome_2i1 clearfix position-relative">
            <div class="upcome_2i1i clearfix">
              <img src="img/10.jpg" class="w-100" alt="abc" />
            </div>
            <div
              class="upcome_2i1i1 clearfix position-absolute top-0 text-center w-100"
            >
              <h6 class="text-uppercase">
                <a class="button_1" href="#">View Trailer</a>
              </h6>
              <h6 class="text-uppercase mb-0">
                <a class="button_2" href="#">View Details</a>
              </h6>
            </div>
          </div>
          <div class="upcome_2i_last bg-white p-3">
            <div class="upcome_2i_lasti row">
              <div class="col-md-9 col-9">
                <div class="upcome_2i_lastil">
                  <h5><a href="#">Quis Sem</a></h5>
                  <h6 class="text-muted">Drama, Action</h6>
                  <span class="col_red">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                  </span>
                </div>
              </div>
              <div class="col-md-3 p-0 col-3">
                <div class="upcome_2i_lastir pt-3">
                  <span
                    ><a class="col_red rounded" href="#"
                      ><i class="fa fa-shopping-cart"></i></a
                  ></span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="upcome_2i1 clearfix position-relative">
            <div class="upcome_2i1i clearfix">
              <img src="img/11.jpg" class="w-100" alt="abc" />
            </div>
            <div
              class="upcome_2i1i1 clearfix position-absolute top-0 text-center w-100"
            >
              <h6 class="text-uppercase">
                <a class="button_1" href="#">View Trailer</a>
              </h6>
              <h6 class="text-uppercase mb-0">
                <a class="button_2" href="#">View Details</a>
              </h6>
            </div>
          </div>
          <div class="upcome_2i_last bg-white p-3">
            <div class="upcome_2i_lasti row">
              <div class="col-md-9 col-9">
                <div class="upcome_2i_lastil">
                  <h5><a href="#">Lorem Amet</a></h5>
                  <h6 class="text-muted">Drama, Action</h6>
                  <span class="col_red">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                  </span>
                </div>
              </div>
              <div class="col-md-3 p-0 col-3">
                <div class="upcome_2i_lastir pt-3">
                  <span
                    ><a class="col_red rounded" href="#"
                      ><i class="fa fa-shopping-cart"></i></a
                  ></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane" id="profile">
      <div class="upcome_2i row">
        <div class="col-md-3">
          <div class="upcome_2i1 clearfix position-relative">
            <div class="upcome_2i1i clearfix">
              <img src="img/8.jpg" class="w-100" alt="abc" />
            </div>
            <div
              class="upcome_2i1i1 clearfix position-absolute top-0 text-center w-100"
            >
              <h6 class="text-uppercase">
                <a class="button_1" href="#">View Trailer</a>
              </h6>
              <h6 class="text-uppercase mb-0">
                <a class="button_2" href="#">View Details</a>
              </h6>
            </div>
          </div>
          <div class="upcome_2i_last bg-white p-3">
            <div class="upcome_2i_lasti row">
              <div class="col-md-9 col-9">
                <div class="upcome_2i_lastil">
                  <h5><a href="#">Eget Nulla</a></h5>
                  <h6 class="text-muted">Drama, Action</h6>
                  <span class="col_red">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                  </span>
                </div>
              </div>
              <div class="col-md-3 p-0 col-3">
                <div class="upcome_2i_lastir pt-3">
                  <span
                    ><a class="col_red rounded" href="#"
                      ><i class="fa fa-shopping-cart"></i></a
                  ></span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="upcome_2i1 clearfix position-relative">
            <div class="upcome_2i1i clearfix">
              <img src="img/9.jpg" class="w-100" alt="abc" />
            </div>
            <div
              class="upcome_2i1i1 clearfix position-absolute top-0 text-center w-100"
            >
              <h6 class="text-uppercase">
                <a class="button_1" href="#">View Trailer</a>
              </h6>
              <h6 class="text-uppercase mb-0">
                <a class="button_2" href="#">View Details</a>
              </h6>
            </div>
          </div>
          <div class="upcome_2i_last bg-white p-3">
            <div class="upcome_2i_lasti row">
              <div class="col-md-9 col-9">
                <div class="upcome_2i_lastil">
                  <h5><a href="#">Semp Porta</a></h5>
                  <h6 class="text-muted">Drama, Action</h6>
                  <span class="col_red">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                  </span>
                </div>
              </div>
              <div class="col-md-3 p-0 col-3">
                <div class="upcome_2i_lastir pt-3">
                  <span
                    ><a class="col_red rounded" href="#"
                      ><i class="fa fa-shopping-cart"></i></a
                  ></span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="upcome_2i1 clearfix position-relative">
            <div class="upcome_2i1i clearfix">
              <img src="img/10.jpg" class="w-100" alt="abc" />
            </div>
            <div
              class="upcome_2i1i1 clearfix position-absolute top-0 text-center w-100"
            >
              <h6 class="text-uppercase">
                <a class="button_1" href="#">View Trailer</a>
              </h6>
              <h6 class="text-uppercase mb-0">
                <a class="button_2" href="#">View Details</a>
              </h6>
            </div>
          </div>
          <div class="upcome_2i_last bg-white p-3">
            <div class="upcome_2i_lasti row">
              <div class="col-md-9 col-9">
                <div class="upcome_2i_lastil">
                  <h5><a href="#">Quis Sem</a></h5>
                  <h6 class="text-muted">Drama, Action</h6>
                  <span class="col_red">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                  </span>
                </div>
              </div>
              <div class="col-md-3 p-0 col-3">
                <div class="upcome_2i_lastir pt-3">
                  <span
                    ><a class="col_red rounded" href="#"
                      ><i class="fa fa-shopping-cart"></i></a
                  ></span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="upcome_2i1 clearfix position-relative">
            <div class="upcome_2i1i clearfix">
              <img src="img/11.jpg" class="w-100" alt="abc" />
            </div>
            <div
              class="upcome_2i1i1 clearfix position-absolute top-0 text-center w-100"
            >
              <h6 class="text-uppercase">
                <a class="button_1" href="#">View Trailer</a>
              </h6>
              <h6 class="text-uppercase mb-0">
                <a class="button_2" href="#">View Details</a>
              </h6>
            </div>
          </div>
          <div class="upcome_2i_last bg-white p-3">
            <div class="upcome_2i_lasti row">
              <div class="col-md-9 col-9">
                <div class="upcome_2i_lastil">
                  <h5><a href="#">Lorem Amet</a></h5>
                  <h6 class="text-muted">Drama, Action</h6>
                  <span class="col_red">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                  </span>
                </div>
              </div>
              <div class="col-md-3 p-0 col-3">
                <div class="upcome_2i_lastir pt-3">
                  <span
                    ><a class="col_red rounded" href="#"
                      ><i class="fa fa-shopping-cart"></i></a
                  ></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="upcome_2i row mt-4">
        <div class="col-md-3">
          <div class="upcome_2i1 clearfix position-relative">
            <div class="upcome_2i1i clearfix">
              <img src="img/4.jpg" class="w-100" alt="abc" />
            </div>
            <div
              class="upcome_2i1i1 clearfix position-absolute top-0 text-center w-100"
            >
              <h6 class="text-uppercase">
                <a class="button_1" href="#">View Trailer</a>
              </h6>
              <h6 class="text-uppercase mb-0">
                <a class="button_2" href="#">View Details</a>
              </h6>
            </div>
          </div>
          <div class="upcome_2i_last bg-white p-3">
            <div class="upcome_2i_lasti row">
              <div class="col-md-9 col-9">
                <div class="upcome_2i_lastil">
                  <h5><a href="#">Eget Nulla</a></h5>
                  <h6 class="text-muted">Drama, Action</h6>
                  <span class="col_red">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                  </span>
                </div>
              </div>
              <div class="col-md-3 p-0 col-3">
                <div class="upcome_2i_lastir pt-3">
                  <span
                    ><a class="col_red rounded" href="#"
                      ><i class="fa fa-shopping-cart"></i></a
                  ></span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="upcome_2i1 clearfix position-relative">
            <div class="upcome_2i1i clearfix">
              <img src="img/5.jpg" class="w-100" alt="abc" />
            </div>
            <div
              class="upcome_2i1i1 clearfix position-absolute top-0 text-center w-100"
            >
              <h6 class="text-uppercase">
                <a class="button_1" href="#">View Trailer</a>
              </h6>
              <h6 class="text-uppercase mb-0">
                <a class="button_2" href="#">View Details</a>
              </h6>
            </div>
          </div>
          <div class="upcome_2i_last bg-white p-3">
            <div class="upcome_2i_lasti row">
              <div class="col-md-9 col-9">
                <div class="upcome_2i_lastil">
                  <h5><a href="#">Semp Porta</a></h5>
                  <h6 class="text-muted">Drama, Action</h6>
                  <span class="col_red">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                  </span>
                </div>
              </div>
              <div class="col-md-3 p-0 col-3">
                <div class="upcome_2i_lastir pt-3">
                  <span
                    ><a class="col_red rounded" href="#"
                      ><i class="fa fa-shopping-cart"></i></a
                  ></span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="upcome_2i1 clearfix position-relative">
            <div class="upcome_2i1i clearfix">
              <img src="img/6.jpg" class="w-100" alt="abc" />
            </div>
            <div
              class="upcome_2i1i1 clearfix position-absolute top-0 text-center w-100"
            >
              <h6 class="text-uppercase">
                <a class="button_1" href="#">View Trailer</a>
              </h6>
              <h6 class="text-uppercase mb-0">
                <a class="button_2" href="#">View Details</a>
              </h6>
            </div>
          </div>
          <div class="upcome_2i_last bg-white p-3">
            <div class="upcome_2i_lasti row">
              <div class="col-md-9 col-9">
                <div class="upcome_2i_lastil">
                  <h5><a href="#">Quis Sem</a></h5>
                  <h6 class="text-muted">Drama, Action</h6>
                  <span class="col_red">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                  </span>
                </div>
              </div>
              <div class="col-md-3 p-0 col-3">
                <div class="upcome_2i_lastir pt-3">
                  <span
                    ><a class="col_red rounded" href="#"
                      ><i class="fa fa-shopping-cart"></i></a
                  ></span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="upcome_2i1 clearfix position-relative">
            <div class="upcome_2i1i clearfix">
              <img src="img/7.jpg" class="w-100" alt="abc" />
            </div>
            <div
              class="upcome_2i1i1 clearfix position-absolute top-0 text-center w-100"
            >
              <h6 class="text-uppercase">
                <a class="button_1" href="#">View Trailer</a>
              </h6>
              <h6 class="text-uppercase mb-0">
                <a class="button_2" href="#">View Details</a>
              </h6>
            </div>
          </div>
          <div class="upcome_2i_last bg-white p-3">
            <div class="upcome_2i_lasti row">
              <div class="col-md-9 col-9">
                <div class="upcome_2i_lastil">
                  <h5><a href="#">Lorem Amet</a></h5>
                  <h6 class="text-muted">Drama, Action</h6>
                  <span class="col_red">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                  </span>
                </div>
              </div>
              <div class="col-md-3 p-0 col-3">
                <div class="upcome_2i_lastir pt-3">
                  <span
                    ><a class="col_red rounded" href="#"
                      ><i class="fa fa-shopping-cart"></i></a
                  ></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane" id="settings">
      <div class="upcome_2i row">
        <div class="col-md-3">
          <div class="upcome_2i1 clearfix position-relative">
            <div class="upcome_2i1i clearfix">
              <img src="img/4.jpg" class="w-100" alt="abc" />
            </div>
            <div
              class="upcome_2i1i1 clearfix position-absolute top-0 text-center w-100"
            >
              <h6 class="text-uppercase">
                <a class="button_1" href="#">View Trailer</a>
              </h6>
              <h6 class="text-uppercase mb-0">
                <a class="button_2" href="#">View Details</a>
              </h6>
            </div>
          </div>
          <div class="upcome_2i_last bg-white p-3">
            <div class="upcome_2i_lasti row">
              <div class="col-md-9 col-9">
                <div class="upcome_2i_lastil">
                  <h5><a href="#">Eget Nulla</a></h5>
                  <h6 class="text-muted">Drama, Action</h6>
                  <span class="col_red">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                  </span>
                </div>
              </div>
              <div class="col-md-3 p-0 col-3">
                <div class="upcome_2i_lastir pt-3">
                  <span
                    ><a class="col_red rounded" href="#"
                      ><i class="fa fa-shopping-cart"></i></a
                  ></span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="upcome_2i1 clearfix position-relative">
            <div class="upcome_2i1i clearfix">
              <img src="img/5.jpg" class="w-100" alt="abc" />
            </div>
            <div
              class="upcome_2i1i1 clearfix position-absolute top-0 text-center w-100"
            >
              <h6 class="text-uppercase">
                <a class="button_1" href="#">View Trailer</a>
              </h6>
              <h6 class="text-uppercase mb-0">
                <a class="button_2" href="#">View Details</a>
              </h6>
            </div>
          </div>
          <div class="upcome_2i_last bg-white p-3">
            <div class="upcome_2i_lasti row">
              <div class="col-md-9 col-9">
                <div class="upcome_2i_lastil">
                  <h5><a href="#">Semp Porta</a></h5>
                  <h6 class="text-muted">Drama, Action</h6>
                  <span class="col_red">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                  </span>
                </div>
              </div>
              <div class="col-md-3 p-0 col-3">
                <div class="upcome_2i_lastir pt-3">
                  <span
                    ><a class="col_red rounded" href="#"
                      ><i class="fa fa-shopping-cart"></i></a
                  ></span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="upcome_2i1 clearfix position-relative">
            <div class="upcome_2i1i clearfix">
              <img src="img/6.jpg" class="w-100" alt="abc" />
            </div>
            <div
              class="upcome_2i1i1 clearfix position-absolute top-0 text-center w-100"
            >
              <h6 class="text-uppercase">
                <a class="button_1" href="#">View Trailer</a>
              </h6>
              <h6 class="text-uppercase mb-0">
                <a class="button_2" href="#">View Details</a>
              </h6>
            </div>
          </div>
          <div class="upcome_2i_last bg-white p-3">
            <div class="upcome_2i_lasti row">
              <div class="col-md-9 col-9">
                <div class="upcome_2i_lastil">
                  <h5><a href="#">Quis Sem</a></h5>
                  <h6 class="text-muted">Drama, Action</h6>
                  <span class="col_red">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                  </span>
                </div>
              </div>
              <div class="col-md-3 p-0 col-3">
                <div class="upcome_2i_lastir pt-3">
                  <span
                    ><a class="col_red rounded" href="#"
                      ><i class="fa fa-shopping-cart"></i></a
                  ></span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="upcome_2i1 clearfix position-relative">
            <div class="upcome_2i1i clearfix">
              <img src="img/7.jpg" class="w-100" alt="abc" />
            </div>
            <div
              class="upcome_2i1i1 clearfix position-absolute top-0 text-center w-100"
            >
              <h6 class="text-uppercase">
                <a class="button_1" href="#">View Trailer</a>
              </h6>
              <h6 class="text-uppercase mb-0">
                <a class="button_2" href="#">View Details</a>
              </h6>
            </div>
          </div>
          <div class="upcome_2i_last bg-white p-3">
            <div class="upcome_2i_lasti row">
              <div class="col-md-9 col-9">
                <div class="upcome_2i_lastil">
                  <h5><a href="#">Lorem Amet</a></h5>
                  <h6 class="text-muted">Drama, Action</h6>
                  <span class="col_red">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                  </span>
                </div>
              </div>
              <div class="col-md-3 p-0 col-3">
                <div class="upcome_2i_lastir pt-3">
                  <span
                    ><a class="col_red rounded" href="#"
                      ><i class="fa fa-shopping-cart"></i></a
                  ></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="upcome_2i row mt-4">
        <div class="col-md-3">
          <div class="upcome_2i1 clearfix position-relative">
            <div class="upcome_2i1i clearfix">
              <img src="img/8.jpg" class="w-100" alt="abc" />
            </div>
            <div
              class="upcome_2i1i1 clearfix position-absolute top-0 text-center w-100"
            >
              <h6 class="text-uppercase">
                <a class="button_1" href="#">View Trailer</a>
              </h6>
              <h6 class="text-uppercase mb-0">
                <a class="button_2" href="#">View Details</a>
              </h6>
            </div>
          </div>
          <div class="upcome_2i_last bg-white p-3">
            <div class="upcome_2i_lasti row">
              <div class="col-md-9 col-9">
                <div class="upcome_2i_lastil">
                  <h5><a href="#">Eget Nulla</a></h5>
                  <h6 class="text-muted">Drama, Action</h6>
                  <span class="col_red">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                  </span>
                </div>
              </div>
              <div class="col-md-3 p-0 col-3">
                <div class="upcome_2i_lastir pt-3">
                  <span
                    ><a class="col_red rounded" href="#"
                      ><i class="fa fa-shopping-cart"></i></a
                  ></span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="upcome_2i1 clearfix position-relative">
            <div class="upcome_2i1i clearfix">
              <img src="img/9.jpg" class="w-100" alt="abc" />
            </div>
            <div
              class="upcome_2i1i1 clearfix position-absolute top-0 text-center w-100"
            >
              <h6 class="text-uppercase">
                <a class="button_1" href="#">View Trailer</a>
              </h6>
              <h6 class="text-uppercase mb-0">
                <a class="button_2" href="#">View Details</a>
              </h6>
            </div>
          </div>
          <div class="upcome_2i_last bg-white p-3">
            <div class="upcome_2i_lasti row">
              <div class="col-md-9 col-9">
                <div class="upcome_2i_lastil">
                  <h5><a href="#">Semp Porta</a></h5>
                  <h6 class="text-muted">Drama, Action</h6>
                  <span class="col_red">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                  </span>
                </div>
              </div>
              <div class="col-md-3 p-0 col-3">
                <div class="upcome_2i_lastir pt-3">
                  <span
                    ><a class="col_red rounded" href="#"
                      ><i class="fa fa-shopping-cart"></i></a
                  ></span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="upcome_2i1 clearfix position-relative">
            <div class="upcome_2i1i clearfix">
              <img src="img/10.jpg" class="w-100" alt="abc" />
            </div>
            <div
              class="upcome_2i1i1 clearfix position-absolute top-0 text-center w-100"
            >
              <h6 class="text-uppercase">
                <a class="button_1" href="#">View Trailer</a>
              </h6>
              <h6 class="text-uppercase mb-0">
                <a class="button_2" href="#">View Details</a>
              </h6>
            </div>
          </div>
          <div class="upcome_2i_last bg-white p-3">
            <div class="upcome_2i_lasti row">
              <div class="col-md-9 col-9">
                <div class="upcome_2i_lastil">
                  <h5><a href="#">Quis Sem</a></h5>
                  <h6 class="text-muted">Drama, Action</h6>
                  <span class="col_red">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                  </span>
                </div>
              </div>
              <div class="col-md-3 p-0 col-3">
                <div class="upcome_2i_lastir pt-3">
                  <span
                    ><a class="col_red rounded" href="#"
                      ><i class="fa fa-shopping-cart"></i></a
                  ></span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="upcome_2i1 clearfix position-relative">
            <div class="upcome_2i1i clearfix">
              <img src="img/11.jpg" class="w-100" alt="abc" />
            </div>
            <div
              class="upcome_2i1i1 clearfix position-absolute top-0 text-center w-100"
            >
              <h6 class="text-uppercase">
                <a class="button_1" href="#">View Trailer</a>
              </h6>
              <h6 class="text-uppercase mb-0">
                <a class="button_2" href="#">View Details</a>
              </h6>
            </div>
          </div>
          <div class="upcome_2i_last bg-white p-3">
            <div class="upcome_2i_lasti row">
              <div class="col-md-9 col-9">
                <div class="upcome_2i_lastil">
                  <h5><a href="#">Lorem Amet</a></h5>
                  <h6 class="text-muted">Drama, Action</h6>
                  <span class="col_red">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                  </span>
                </div>
              </div>
              <div class="col-md-3 p-0 col-3">
                <div class="upcome_2i_lastir pt-3">
                  <span
                    ><a class="col_red rounded" href="#"
                      ><i class="fa fa-shopping-cart"></i></a
                  ></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
