<br />
<div class="p-2">
  <div class="sc-133848s-4 kFcBGr">
    <div class="sc-133848s-3 sc-133848s-5 gXVNQI">
      <div
        class="sc-133848s-3 sc-133848s-10 dOuCBq"
        style="padding: 0px 0px 32px"
      >
        <div class="sc-lnhrs7-0 ihaPEr">
          <div class="sc-lnhrs7-1 gkaWgK">
            <div class="sc-lnhrs7-4 dDgeSF">
              <carousel>
                <slide>
                  <div>
                    <a href="" id="" class=""
                      ><div class="">
                        <div class=""></div>
                        <div
                          width="100%"
                          height="100%"
                          data-content="Tiger 3"
                          class=""
                        >
                          <div class="">
                            <img
                              id="js-promotion-banner"
                              loading="lazy"
                              onclick="handleBannerClick(event)"
                              src="https://assets-in.bmscdn.com/promotions/cms/creatives/1697555347107_movies.jpg"
                              alt="promotion-banner"
                            />
                          </div>
                        </div></div
                    ></a>
                  </div>
                </slide>
              </carousel>
            </div>
          </div>
        </div>
        <br />
        <div class="sc-lnhrs7-0 ihaPEr">
          <div class="sc-lnhrs7-1 gkaWgK">
            <div class="sc-lnhrs7-4 dDgeSF">
              <carousel
                [itemsPerSlide]="5"
                [singleSlideOffset]="true"
                [noWrap]="true"
              >
                <slide *ngFor="let item of data">
                  <div>
                    <a [routerLink]="['/view-movie-detail', item.id]"
                      ><div class="">
                        <div class=""></div>
                        <div
                          width="100%"
                          height="100%"
                          data-content="Tiger 3"
                          class=""
                        >
                          <div class="">
                            <img
                              [src]="
                                'data:image/png;base64,' + item.imageBase64
                              "
                              alt="Image"
                              width="100%"
                              height="100%"
                            />
                          </div>
                        </div>
                        <div
                          class="sc-133848s-3 cZuToi"
                          style="margin: 4px 0px 0px; padding: 4px 0px 0px"
                        >
                          <div class="sc-133848s-2 sc-133848s-12 hxPdAO">
                            <div class="sc-7o7nez-0 daKrZU">
                              {{ item.title }}
                            </div>
                          </div>
                          <div class="sc-133848s-2 sc-133848s-12 hxPdAO">
                            <div class="sc-7o7nez-0 bJFVVN">
                              {{ item.genre }}
                            </div>
                          </div>
                        </div>
                      </div></a
                    >
                  </div>
                </slide>
              </carousel>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
